<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновление данных пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="name">Enter your name</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>

  <br/>
  <label for="surname">Enter your surname </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <br/>

  <br/>
  <label for="email">Enter your email </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>

  <input type="submit" value="Update!"/>
</form>
</body>
</html>