<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<span> Name: </span>
<br/>
<div th:text="${person.getName()}">VALUE</div>
<br/>
<span> Surname: </span>
<div th:text="${person.getSurname()}">VALUE</div>
<br/>
<span> Email: </span>
<br/>
<div th:text="${person.getEmail()}">VALUE</div>
<br/>
<span> Age: </span>
<br/>
<div th:text="${person.getAge()}">VALUE</div>
<br/>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">EDIT</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Delete Person"/>
</form>
</body>
</html>